<h1>Your Cart</h1>

<div class = "right_div" %>
<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
    <%= render :partial => "partials/line_item_info", :collection => current_cart.line_items, :as => :line_item %>
    <td><strong>Order total:</strong></td>
    <td><strong>$<%= number_with_delimiter(current_cart.total, :delimiter => ",", :separator => ".") %></strong></td>
    <tr><td><%= button_to 'Checkout', checkout_path %></td></tr>
</table>
</div>
