html, body {
  height: 100% ;
}
#nav_bar {
  position: fixed ;
  top: 0px ;
  right: 0px ;
  left: 0px ;
  height: 70px ;
  min-width: 700px ;
  background-color:  #005F61;
  box-shadow: 2px 2px 2px ;
}

.under_nav_bar {
 margin-bottom: 80px ;
}

#nav_bar #login_list {
  position: fixed;
  top: 10px ;
  right: 5px ;
  color: #FFF ;
  list-style-type: none;
}

#nav_bar #login_list a{
  text-decoration: none;
  color: #FFF ;
}

#nav_bar li#cart_list {
  position: fixed ;
  top: 10px ;
  left: 400px ;
  background-image: url("/images/cart_icon.png") ;
  list-style-type: none ;
  height: 60px;
  width: 60px;
  cursor: pointer ;
}

.wrapper {
  width: 95% ;
  min-width: 1100px ;
  max-width: 1500px ;
  height: 100% ;
  margin: 0 auto ;
}
