<div class = "right_div" %>
<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
  </tr>
    <%= render :partial => "partials/item_info", :collection => @category.items, :as => :item %>
</table>
</div>
