<div class="category-list">
	<% @categories.each do |category| %>
		<%= link_to category.title, category_path(category) %>
	<% end %>
</div>

<ul class="item-list">
	<% @items.each do |item| %>
		<li>
			<%= item.title %> | $<%= item.price.to_f/100 %> |
			<% if user_signed_in? %>
				<%= button_to 'Add to Cart', line_items_path(item_id: item) %>
			<% end %>
		</li>
	<% end %>
</ul>
