<h2><%= link_to 'Cart', current_user.current_cart if user_signed_in? && current_user.current_cart%></h2>
<h2>Categories</h2>
<% @categories.each do |category| %>
  <div><%= link_to category.title, category_path(category) %></div>
<% end %>
<h2>Items</h2>
<%= render @items, wrapper_tag: :p %>
